body {
    background: #DDDDDD;
}

.navbar {
    background-color: #2e5240 ;
    color: white;
}

#inputPassword.form-control{
    background-image: linear-gradient(0deg,#2e5240  2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

#inputEmail.form-control{
    background-image: linear-gradient(0deg,#2e5240  2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

#inputnegative.form-control{
    background-image: linear-gradient(0deg,#2e5240  2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.page-container {
    margin-top: 75px;
}

#createAccountButtonDedicated{
    background-color: red;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

#fab{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #2e5240 ;
    color: white;
    z-index: 999;
}

.rose_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 40%;
  }

.negInc{
    color: #000000;
    text-shadow: 100px;
    background-color: #FFF2C3;
}

#fire{
    position: fixed;
    right: 10px;
    bottom: 50px;
    color: white;
    z-index: 999;
    width: 200px;
    opacity: 1.0;
    width: 20%;
    /* mix-blend-mode:soft-light; */
}

#fire:hover{
    opacity: 0.5;
}

#listPage .card-title,#listPage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    margin: 4px 4px 4px 4px;
}

.card{
    margin: 10px 10px 10px 10px;
}

#cardQuote{
    text-align: center;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 430px;
    margin: auto;
    text-align: center;
}

.container1 {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 1px 1px #2e5240 ;
}

.bmd-layout-container{
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #2e5240 ;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 1rem;
}


.dropdown-menu-right{
    left: -128px;
}

.editMenu{
    position: fixed;
    right: 10px;
    top: 10px;
    background: #2e5240 ;
    color: white;
    z-index: 999;
}

.bmd-layout-canvas{
    height: 100vh;
}

.background{
    background-image: url('img_girl.jpg');
}

.background_image{
    background-image: url('images/test_back.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

#cheerUpPageQuote{
    background-color: #a79f9f62;
    width: fit-content;
    padding: 0 5px 0 5px;
    margin: auto;
}

