:root {
    --color-yellow: #FFB800;
    --color-green: #2e5240;
    --color-green-light: #849c74;
    --color-red: #a8383e;
    --color-red-light:  #f5685f;
    --color-blue: #045999;
    --color-blue-light:  #5fb1e9;
    --color-pink: #d37880;
    --color-pink-light: #e4b3b3;
    --color-purple:  #2d123a;
    --color-purple-light: #53216b;
    --color-orange: #d4540d ;
    --color-orange-light: #e07f45 ;
    --color-white: #ffff;
    --color-meme: #0000;
    --color-meme-light: #ffff;
    --theme-color: var(--color-white);
    --theme-color-light: var(--color-white);
    --theme-color-card: var(--transparent-light);
    --transparent-light: rgba(225,225,225,0.33);
    --transparent-dark: rgba(0,0,0,0.53);
  }

body {
    background: #DDDDDD;
}

.navbar {
    background-color: var(--theme-color) ;
    color: white;
}

#loginCard{
    --mdb-card-spacer-y: 1.5rem;
    --mdb-card-spacer-x: 1.5rem;
    --mdb-card-title-spacer-y: 0.5rem;
    --mdb-card-border-width: 1px;
    --mdb-card-border-color: var(--mdb-border-color-translucent);
    --mdb-card-border-radius: 0.5rem;
    --mdb-card-box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
    --mdb-card-inner-border-radius: calc(0.5rem - 1px);
    --mdb-card-cap-padding-y: 0.75rem;
    --mdb-card-cap-padding-x: 1.5rem;
    --mdb-card-cap-bg: hsla(0,0%,100%,0) !important;
    --mdb-card-bg: var(--theme-color-card);
    --mdb-card-img-overlay-padding: 1.5rem;
    --mdb-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--mdb-card-height);
    word-wrap: break-word;
    background-color: var(--mdb-card-bg) !important;
    background-clip: border-box;
    border: var(--mdb-card-border-width) solid var(--mdb-card-border-color);
    border-radius: var(--mdb-card-border-radius);
    box-shadow: var(--mdb-card-box-shadow);
}


#inputPassword.form-control{
    background-image: linear-gradient(0deg,var(--theme-color)  2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

#inputEmail.form-control{
    background-image: linear-gradient(0deg,var(--theme-color)  2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

#inputnegative.form-control{
    background-image: linear-gradient(0deg,#ffff  2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(209, 209, 209, 0.26) 3px,transparent 0);
}

#inputnegative{
    color: #ffff;
}

.page-container {
    margin-top: 75px;
}

#createAccountButtonDedicated{
    background-color: red;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

#fab{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: var(--theme-color) ;
    color: white;
    z-index: 999;
}

.rose_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 40%;
  }

.negInc{
    color: #ffffff;
    text-shadow: 100px;
    background-color: var(--theme-color-light);
    border-radius: 16px;
}

.text-muted{
    color: rgba(108,117,125,0.45)!important;
    font-size: 95%;
}

#fire{
    position: fixed;
    right: 10px;
    bottom: 50px;
    color: white;
    z-index: 999;
    width: 300px;
    opacity: 1.0;
    width: 20%;
    /* mix-blend-mode:soft-light; */
}

#dragtarget {
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    z-index: 9;
    text-align: center;
    border: none;
    opacity: 100%;
    background-color: var(--theme-color-light);
  }
  
  /* #droptargetheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  } */
  
  .droptarget {
    /* width: 250px; 
    height: 250px;
    padding: 10px;
    border: 1px solid black;
    margin-left: 300px */
    height: 100px;
    border: 1px;
    border-color: transparent;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 999;
    width: 100px;
    width: 20%;
  }

/* #fire:hover{
    opacity: 0.5;
} */

#listPage .card-title,#listPage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    margin: 4px 4px 4px 4px;

}

.card{
    margin: 10px 10px 10px 10px;
    background-color: var(--theme-color-light);
    color: white;
    border-radius: 16px;
}

#cardQuote{
    text-align: center;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 430px;
    margin: auto;
    text-align: center;
}

.container1 {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 1px 1px #ffffff ;
}

.bmd-layout-container{
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: var(--theme-color) ;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 1rem;
}


.dropdown-menu-right{
    left: -128px;
}

.editMenu, #individualMenu{
    position: fixed;
    right: 10px;
    top: 10px;
    background: var(--theme-color) ;
    color: white;
    z-index: 999;
}

.bmd-layout-canvas{
    height: 100vh;
}

#cheerUpPageQuote{
    background-color: #a79f9f62;
    width: fit-content;
    padding: 0 5px 0 5px;
    margin: auto;
    font-size: x-large;
}

#deleteDataButton{
    background-color: var(--color-red);
    color: white;
    margin: 0px 0px 0px 30px;
}

#deleteAccountDiv{
    position: relative;
    display: inline-block;
    width: 200px;
        /* border: 1px solid #ff1100; */
        /* text-align: right; */
}

#CheerUpButton, #createAccountButton, #logInButton, #logInRosefire, #createAccountButtonDedicated{
    background-color: var(--theme-color); color: white;
}

#logInRosefire{
    margin: 5px 0px 0px 0px;
}

#inputnegative{
    text-align: center;
}

#backgroundImage{
    /* overflow: visible; */
    background-image: url("../images/LiterallyAWhiteScreen.png"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

#memeDropdown{
    position: absolute;
    margin: 0 0 0 20px;
    display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    background-color: var(--theme-color);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: var(--theme-color-light);}

  #menuTimeline:hover, #menuIncinerator:hover, #menuCheerUp:hover, #menuSettings:hover, #menuSignOut:hover{   /* sidebar hover */
    background-color: #8080805d;
  }

  .btn-primary.custom-file-control:before, .btn.btn-primary {
    color: var(--theme-color);
    background-color: transparent;
    border-color: #ccc;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,var(--theme-color) 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

[class*=" bmd-label"], [class^=bmd-label] {
    color: var(--theme-color-light);
}

.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label]{
    color: var(--theme-color)
}